In [40]:
import numpy as np
import pandas as pd

In [41]:
broker_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Broker_Data_clean.csv")
id_table_df = pd.read_csv("../Resources/Clean_Data_12_8_22/ID_table_clean.csv")
lat_lng_df = pd.read_csv("../Resources/Clean_Data_12_8_22/lat_lng_clean.csv")
mortgage_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Mortgage_Data_clean.csv")
property_char_df  = pd.read_csv("../Resources/Clean_Data_12_8_22/Prop_Charac_clean.csv")
public_rec_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Pub_Rec_clean.csv")
pub_remarks_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Pub_Remarks_clean.csv")
sales_data_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Sales_Data_clean.csv")

# DISPLAYING ALL DATAFRAMES

In [42]:
broker_df.head(5)

,MLSNumber,Address,ListOfficeName,ListAgentName
0,DENC518086,2615 Pecksniff Rd,Patterson-Schwartz-Middletown,Dianne Platt
1,DENC518982,4938 S Tupelo Turn,"Long & Foster Real Estate, Inc.",Andrew White
2,DENC512992,15 Kristina Ct,"Long & Foster Real Estate, Inc.",Diane W Bacigalupi
3,DENC512104,3251 Champions Dr,"Long & Foster Real Estate, Inc.",Barbara Carpenter
4,DENC503480,3706 Lafayette St,Meyer & Meyer Realty,Peggy Cushing

In [43]:
id_table_df.head(5)

,MLSNumber,Address,Category,City,State,Zip_Code,County,MLSArea,Subdivision,School_District,Schools-Elementary,Schools-Middle,Schools-HighSchool
0,DENC518086,2615 Pecksniff Rd,RES,Wilmingon,DE,19808,NEWCASTLEDE,30903.0,SHERWOOD PARK II,Red Clay Consolidated,NaN,NaN,NaN
1,DENC518982,4938 S Tupelo Turn,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,PEPPER RIDGE,Red Clay Consolidated,NaN,NaN,NaN
2,DENC512992,15 Kristina Ct,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,WOODMILL,Red Clay Consolidated,NaN,NaN,NaN
3,DENC512104,3251 Champions Dr,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,FAIRWAY FALLS,Red Clay Consolidated,NaN,NaN,NaN
4,DENC503480,3706 Lafayette St,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,WASHINGTON HEIGHTS,Red Clay Consolidated,NaN,NaN,NaN

In [44]:
lat_lng_df.head(5)

     MLSNumber                     address_new        lat        lng
0   DENC518086  2615 Pecksniff  Wilmington, DE  39.734608 -75.661402
1  DENC2018974  2615 Pecksniff  Wilmington, DE  39.734608 -75.661402
2   DENC518982   4938 S Tupelo  Wilmington, DE  39.744655 -75.548391
3   DENC512992     15 Kristina  Wilmington, DE  39.744655 -75.548391
4   DENC512104  3251 Champions  Wilmington, DE  39.729664 -75.698656

In [45]:
mortgage_df.head(5)

,Tax_ID,Address,Lender,Mort_Amt,Mort_Type,Mort_Int_Rate,Mort_Term,Mort_Record_Date,Mort_Due_Date,Mort_Date
0,06-004.00-004.C.010,108 N Landis Way Unit #108,AMERICAN NBRHD MTG ACCPTNC AMERICAN NBRHD MTG ...,388000.0,"Conv,HomeEquityLoan",0.0,15,3/16/22,4/1/37,3/11/22
1,06-004.00-004.C.014,140 N Landis Way N Unit #140,WSFS MTG WSFS MTG,420000.0,"Conv,HomeEquityLoan",0.0,30,8/24/21,9/1/51,8/17/21
2,06-004.00-004.C.021,216 S Landis Way S Unit #216,WSFS MTG,220000.0,Conv,0.0,30,11/15/16,12/1/46,11/10/16
3,06-004.00-004.C.033,339 Cassell Ct Unit #339,RBS CITIZENS NA,165000.0,"Conv,HomeEquityLoan",0.0,25,10/17/14,10/10/39,10/6/14
4,06-004.00-004.C.034,346 Cassell Ct Unit #346,TRIDENT MTG CO LP TRIDENT MTG CO LP,297500.0,Conv,0.0,15,1/7/21,1/1/36,12/8/20

In [46]:
property_char_df.head(5)

,MLSNumber,Address,BuildingName,Ownership,Senior_Community_YN,Condo/Coop_Assoc_YN,HOA_YN,AssociationFee,AssociationFeeFrequency,Structure_Type,...,Garage_YN,GarageSpaces,GarageFeatures,Parking,ExteriorFeatures,ExteriorMaterial,Main_Roof,Foundation,PorchDeck,SwimmingPoolType
0,DENC518086,2615 Pecksniff Rd,NONE AVAILABLE,FeeSimple,No,No,Yes,$15,Annually,Detached,...,Yes,1.0,NaN,NaN,"ExtensiveHardscape,Sidewalks,StoneRetainingWal...","BrickFront,VinylSiding",ArchitecturalShingle,NaN,"Patios,Porches",NaN
1,DENC518982,4938 S Tupelo Turn,NaN,FeeSimple,No,No,No,NaN,NaN,Interior Row/Townhouse,...,No,NaN,NaN,NaN,NaN,"AluminumSiding,Brick,VinylSiding",Asphalt,NaN,NaN,NaN
2,DENC512992,15 Kristina Ct,NaN,FeeSimple,No,No,No,NaN,NaN,Interior Row/Townhouse,...,No,NaN,NaN,NaN,NaN,VinylSiding,NaN,NaN,NaN,NaN
3,DENC512104,3251 Champions Dr,NaN,FeeSimple,No,No,Yes,$50,Annually,Interior Row/Townhouse,...,Yes,1.0,NaN,NaN,NaN,Other,Shingle,NaN,Patios,NaN
4,DENC503480,3706 Lafayette St,NaN,FeeSimple,No,No,No,NaN,NaN,Detached,...,No,NaN,NaN,NaN,NaN,Asbestos,NaN,NaN,NaN,NaN

In [47]:
public_rec_df.head(5)

,MLSNumber,Tax_ID,Address-truncated,PropertyCityState,Zip_Code,Zip4,CarrierRoute,PropDoNotMail,OwnerNames,OwnerLastName,...,BldgSqFtTotal,Stories,Bedrooms,Exterior,BsmtDesc,FireplaceTotal,GrgType,HeatDelivery,YearBuilt,YearRemod
0,DENC518086,08-038.30-119,2615 Pecksniff,"Wilmington, DE",19808,3026.0,C010,N,James Robinson,Robinson,...,1875.0,1.0,3.0,"Brick, Aluminum, Vinyl",Finished,0.0,Att/BuiltIn/Bsmt,Hot Water/Steam,1958.0,0.0
1,DENC518982,08-036.10-081,4938 S Tupelo,"Wilmington, DE",19808,1026.0,C009,N,Xiaopeng Deng,Deng,...,1575.0,2.0,3.0,"Brick, Aluminum, Vinyl",Finished,0.0,NaN,Hot/Warm Air,1976.0,0.0
2,DENC512992,08-044.30-363,15 Kristina,"Wilmington, DE",19808,4063.0,C084,N,Robert F Walls,Walls,...,NaN,2.0,2.0,"Aluminum, Vinyl",NaN,0.0,NaN,Heat Pump,1985.0,0.0
3,DENC512104,08-036.40-376,3251 Champions,"Wilmington, DE",19808,2601.0,C039,N,Michael J Downs,Downs,...,NaN,2.0,2.0,Other,NaN,1.0,Att/BuiltIn/Bsmt,Heat Pump,1985.0,0.0
4,DENC503480,07-041.10-071,3706 Lafayette,"Wilmington, DE",19808,6014.0,C001,N,Maria Corona,Corona,...,NaN,1.0,3.0,Asbestos,NaN,0.0,NaN,Hot/Warm Air,1957.0,0.0

In [48]:
pub_remarks_df.head(5)

,Unnamed: 0,MLSNumber,Address,PublicRemarks
0,0,DENC518086,2615 Pecksniff Rd,Visit this home virtually: http://www.vht.com/...
1,1,DENC518982,4938 S Tupelo Turn,"3 bedroom, 1.5 bath townhome located in the he..."
2,2,DENC512992,15 Kristina Ct,"Location, Location, Location! This Woodmill to..."
3,3,DENC512104,3251 Champions Dr,"Move right into this 2 bedroom, 2.1 bath townh..."
4,4,DENC503480,3706 Lafayette St,This nicely maintained home is being sold to s...

In [49]:
sales_data_df.head(5)

,MLSNumber,Address,Status,Sold_Price,Sold_Price_less_Concession,Orig_List_Price,Current_List_Price,Days_on_Market,Previous_Days_on_Market,ListDate,StatusDate,Agreement_of_Sale_Date,SettledDate,Concessions_YN,Concessions_Remarks,SellerConcessionsAmount,FinalFinancing
0,DENC518086,2615 Pecksniff Rd,Closed,335000.0,335000.0,330000.0,330000.0,5.0,5.0,2020-12-11,2021-02-11,2020-12-16,2021-02-11,No,NaN,0.0,FHA
1,DENC518982,4938 S Tupelo Turn,Closed,200000.0,200000.0,215500.0,210000.0,47.0,67.0,2021-01-07,2021-04-08,2021-02-21,2021-04-08,No,NaN,0.0,Conventional
2,DENC512992,15 Kristina Ct,Closed,200000.0,200000.0,200000.0,200000.0,15.0,15.0,2020-12-28,2021-02-26,2021-01-09,2021-02-26,No,NaN,0.0,Conventional
3,DENC512104,3251 Champions Dr,Closed,200000.0,200000.0,219900.0,214900.0,11.0,11.0,2020-10-27,2020-12-14,2020-11-05,2020-12-11,No,NaN,0.0,Conventional
4,DENC503480,3706 Lafayette St,Closed,200000.0,200000.0,190000.0,190000.0,3.0,3.0,2020-06-20,2020-08-02,2020-06-21,2020-07-31,No,NaN,0.0,Conventional

# FIRST MERGE

### merge_df = sales_Data + id_table

In [59]:
merge_df = pd.merge(sales_data_df, id_table_df, on='MLSNumber')

In [60]:
merge_df

,MLSNumber,Address_x,Status,Sold_Price,Sold_Price_less_Concession,Orig_List_Price,Current_List_Price,Days_on_Market,Previous_Days_on_Market,ListDate,...,City,State,Zip_Code,County,MLSArea,Subdivision,School_District,Schools-Elementary,Schools-Middle,Schools-HighSchool
0,DENC518086,2615 Pecksniff Rd,Closed,335000.0,335000.0,330000.0,330000.0,5.0,5.0,2020-12-11,...,Wilmingon,DE,19808,NEWCASTLEDE,30903.0,SHERWOOD PARK II,Red Clay Consolidated,NaN,NaN,NaN
1,DENC518982,4938 S Tupelo Turn,Closed,200000.0,200000.0,215500.0,210000.0,47.0,67.0,2021-01-07,...,Wilmington,DE,19808,NEWCASTLEDE,30903.0,PEPPER RIDGE,Red Clay Consolidated,NaN,NaN,NaN
2,DENC512992,15 Kristina Ct,Closed,200000.0,200000.0,200000.0,200000.0,15.0,15.0,2020-12-28,...,Wilmington,DE,19808,NEWCASTLEDE,30903.0,WOODMILL,Red Clay Consolidated,NaN,NaN,NaN
3,DENC512104,3251 Champions Dr,Closed,200000.0,200000.0,219900.0,214900.0,11.0,11.0,2020-10-27,...,Wilmington,DE,19808,NEWCASTLEDE,30903.0,FAIRWAY FALLS,Red Clay Consolidated,NaN,NaN,NaN
4,DENC503480,3706 Lafayette St,Closed,200000.0,200000.0,190000.0,190000.0,3.0,3.0,2020-06-20,...,Wilmington,DE,19808,NEWCASTLEDE,30903.0,WASHINGTON HEIGHTS,Red Clay Consolidated,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5571,DENC520114,101 Meriden Dr,Closed,595000.0,595000.0,595000.0,595000.0,5.0,5.0,2021-06-24,...,Hockessin,DE,19707,NEWCASTLEDE,30902.0,CANTERBURY HILLS,Red Clay Consolidated,NaN,NaN,NaN
5572,DENC520392,417 Snuff Mill Hill Rd,Closed,595000.0,591262.0,639000.0,639000.0,25.0,25.0,2021-03-29,...,Hockessin,DE,19707,NEWCASTLEDE,30902.0,SNUFF MILL,Red Clay Consolidated,Brandywine Springs,Henry B. Du Pont,Alexis I. Dupont
5573,DENC2014038,400 Wilson Ct,Closed,600000.0,600000.0,529900.0,529900.0,7.0,7.0,2022-01-14,...,Hockessin,DE,19707,NEWCASTLEDE,30902.0,STENNING WOODS,Red Clay Consolidated,North Star,Henry B. Du Pont,Alexis I. Dupont
5574,DENC2005484,918 Old Public Rd,Closed,600000.0,598000.0,620000.0,620000.0,25.0,25.0,2021-08-26,...,Hockessin,DE,19707,NEWCASTLEDE,30902.0,QUAKER LEA EAST,Red Clay Consolidated,NaN,NaN,NaN
5575,DENC526982,124 Croom Mills Drive,Closed,350000.0,349000.0,350000.0,350000.0,51.0,51.0,2021-05-19,...,Wilmington,DE,19707,NEWCASTLEDE,30903.0,ADARE VILLAGE,Red Clay Consolidated,NaN,NaN,NaN

## Beginning first stage cleaning

In [61]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MLSNumber                   5576 non-null   object
 1   Address_x                   5576 non-null   object
 2   Status                      5576 non-null   object
 3   Sold_Price                  5576 non-null   float64
 4   Sold_Price_less_Concession  5576 non-null   float64
 5   Orig_List_Price             5576 non-null   float64
 6   Current_List_Price          5576 non-null   float64
 7   Days_on_Market              5576 non-null   float64
 8   Previous_Days_on_Market     5576 non-null   float64
 9   ListDate                    5576 non-null   object
 10  StatusDate                  5576 non-null   object
 11  Agreement_of_Sale_Date      5576 non-null   object
 12  SettledDate                 5576 non-null   object
 13  Concessions_YN              5576 non-null   object
 14  Concessions_Remarks         339 non-null    object
 15  SellerConcessionsAmount     5576 non-null   float64
 16  FinalFinancing              5576 non-null   object
 17  Address_y                   5576 non-null   object
 18  Category                    5576 non-null   object
 19  City                        5576 non-null   object
 20  State                       5576 non-null   object
 21  Zip_Code                    5576 non-null   int64
 22  County                      5576 non-null   object
 23  MLSArea                     5560 non-null   float64
 24  Subdivision                 5576 non-null   object
 25  School_District             5576 non-null   object
 26  Schools-Elementary          1373 non-null   object
 27  Schools-Middle              1356 non-null   object
 28  Schools-HighSchool          1485 non-null   object
dtypes: float64(8), int64(1), object(20)
memory usage: 1.3+ MB

In [62]:
merge_df["Zip_Code"] = merge_df["Zip_Code"].astype(str)

In [68]:
merge_df["Subdivision"]

0         SHERWOOD PARK II
1             PEPPER RIDGE
2                 WOODMILL
3            FAIRWAY FALLS
4       WASHINGTON HEIGHTS
               ...
5571      CANTERBURY HILLS
5572            SNUFF MILL
5573        STENNING WOODS
5574       QUAKER LEA EAST
5575         ADARE VILLAGE
Name: Subdivision, Length: 5576, dtype: object

In [64]:
merge_df = merge_df.drop(merge_df.columns[1:4],axis=1)
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   MLSNumber                   5576 non-null   object
 1   Sold_Price_less_Concession  5576 non-null   float64
 2   Orig_List_Price             5576 non-null   float64
 3   Current_List_Price          5576 non-null   float64
 4   Days_on_Market              5576 non-null   float64
 5   Previous_Days_on_Market     5576 non-null   float64
 6   ListDate                    5576 non-null   object
 7   StatusDate                  5576 non-null   object
 8   Agreement_of_Sale_Date      5576 non-null   object
 9   SettledDate                 5576 non-null   object
 10  Concessions_YN              5576 non-null   object
 11  Concessions_Remarks         339 non-null    object
 12  SellerConcessionsAmount     5576 non-null   float64
 13  FinalFinancing              5576 non-null   object
 14  Address_y                   5576 non-null   object
 15  Category                    5576 non-null   object
 16  City                        5576 non-null   object
 17  State                       5576 non-null   object
 18  Zip_Code                    5576 non-null   object
 19  County                      5576 non-null   object
 20  MLSArea                     5560 non-null   float64
 21  Subdivision                 5576 non-null   object
 22  School_District             5576 non-null   object
 23  Schools-Elementary          1373 non-null   object
 24  Schools-Middle              1356 non-null   object
 25  Schools-HighSchool          1485 non-null   object
dtypes: float64(7), object(19)
memory usage: 1.1+ MB

In [65]:
merge_df = merge_df.drop(merge_df.columns[[1,3]],axis=1)
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MLSNumber                5576 non-null   object
 1   Orig_List_Price          5576 non-null   float64
 2   Days_on_Market           5576 non-null   float64
 3   Previous_Days_on_Market  5576 non-null   float64
 4   ListDate                 5576 non-null   object
 5   StatusDate               5576 non-null   object
 6   Agreement_of_Sale_Date   5576 non-null   object
 7   SettledDate              5576 non-null   object
 8   Concessions_YN           5576 non-null   object
 9   Concessions_Remarks      339 non-null    object
 10  SellerConcessionsAmount  5576 non-null   float64
 11  FinalFinancing           5576 non-null   object
 12  Address_y                5576 non-null   object
 13  Category                 5576 non-null   object
 14  City                     5576 non-null   object
 15  State                    5576 non-null   object
 16  Zip_Code                 5576 non-null   object
 17  County                   5576 non-null   object
 18  MLSArea                  5560 non-null   float64
 19  Subdivision              5576 non-null   object
 20  School_District          5576 non-null   object
 21  Schools-Elementary       1373 non-null   object
 22  Schools-Middle           1356 non-null   object
 23  Schools-HighSchool       1485 non-null   object
dtypes: float64(5), object(19)
memory usage: 1.1+ MB

In [67]:
merge_df = merge_df.drop(merge_df.columns[2:16],axis=1)
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MLSNumber           5576 non-null   object
 1   Orig_List_Price     5576 non-null   float64
 2   Zip_Code            5576 non-null   object
 3   County              5576 non-null   object
 4   MLSArea             5560 non-null   float64
 5   Subdivision         5576 non-null   object
 6   School_District     5576 non-null   object
 7   Schools-Elementary  1373 non-null   object
 8   Schools-Middle      1356 non-null   object
 9   Schools-HighSchool  1485 non-null   object
dtypes: float64(2), object(8)
memory usage: 479.2+ KB

In [69]:
merge_df = merge_df.drop(merge_df.columns[[3,4,7,8,9]],axis=1)
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MLSNumber        5576 non-null   object
 1   Orig_List_Price  5576 non-null   float64
 2   Zip_Code         5576 non-null   object
 3   Subdivision      5576 non-null   object
 4   School_District  5576 non-null   object
dtypes: float64(1), object(4)
memory usage: 261.4+ KB

## Beginning Second Merge

### merge_df_stage_2 = merge_df + property_char_df

In [70]:
merge_df_stage_2 = pd.merge(merge_df, property_char_df , on='MLSNumber')

In [72]:
merge_df_stage_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 63 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   MLSNumber                  5576 non-null   object
 1   Orig_List_Price            5576 non-null   float64
 2   Zip_Code                   5576 non-null   object
 3   Subdivision                5576 non-null   object
 4   School_District            5576 non-null   object
 5   Address                    5576 non-null   object
 6   BuildingName               1139 non-null   object
 7   Ownership                  5576 non-null   object
 8   Senior_Community_YN        5576 non-null   object
 9   Condo/Coop_Assoc_YN        5576 non-null   object
 10  HOA_YN                     5576 non-null   object
 11  AssociationFee             1582 non-null   object
 12  AssociationFeeFrequency    1582 non-null   object
 13  Structure_Type             5576 non-null   object
 14  Acres                      5354 non-null   float64
 15  LotDimensions              4847 non-null   object
 16  LotDescription             1455 non-null   object
 17  FeeIncludes                661 non-null    object
 18  Age                        5576 non-null   float64
 19  InteriorSqFt               5576 non-null   float64
 20  Interior_SqFt_Source       5576 non-null   object
 21  AboveGradeSqFt             5576 non-null   float64
 22  BelowGradeSqFt             5394 non-null   float64
 23  PropertyCondition          1916 non-null   object
 24  Bedrooms                   5571 non-null   float64
 25  Baths                      5571 non-null   float64
 26  BathsFull                  5571 non-null   float64
 27  PartialBaths               3939 non-null   float64
 28  Design                     5576 non-null   object
 29  Style                      5576 non-null   object
 30  NumberofStories            5571 non-null   object
 31  RoomCount                  1006 non-null   float64
 32  InteriorFeatures           2693 non-null   object
 33  Flooring                   2452 non-null   object
 34  Central_Air_YN             5576 non-null   object
 35  Cooling                    5576 non-null   object
 36  PrimaryHeat                5576 non-null   object
 37  HeatDelivery               5575 non-null   object
 38  HotWater                   5328 non-null   object
 39  ElectricalSystem           2001 non-null   object
 40  Water                      5576 non-null   object
 41  Sewer                      5576 non-null   object
 42  Fireplace_YN               3309 non-null   object
 43  FireplaceCount             4727 non-null   float64
 44  FireplaceFeatures          1483 non-null   object
 45  KitchenAppliancesFeatures  2414 non-null   object
 46  CookingFuel                2414 non-null   object
 47  LaundryHookUps             2897 non-null   object
 48  Basement_YN                5576 non-null   object
 49  BasementType               4687 non-null   object
 50  BasementDescription        4687 non-null   object
 51  BasementFootprintPct       234 non-null    float64
 52  BasementFinishedPct        324 non-null    float64
 53  Garage_YN                  5576 non-null   object
 54  GarageSpaces               3406 non-null   float64
 55  GarageFeatures             1370 non-null   object
 56  Parking                    1370 non-null   object
 57  ExteriorFeatures           2326 non-null   object
 58  ExteriorMaterial           5576 non-null   object
 59  Main_Roof                  2406 non-null   object
 60  Foundation                 2137 non-null   object
 61  PorchDeck                  2127 non-null   object
 62  SwimmingPoolType           147 non-null    object
dtypes: float64(15), object(48)
memory usage: 2.7+ MB

In [102]:
merge_df_stage_2["BasementType"].sample(10)

3694                                FullyFinished,Partial
2943    Full,FullyFinished,InteriorAccess,Shelving,Spa...
1104                                                  NaN
4283                                    PartiallyFinished
3278                                                  NaN
3614                                                 Full
620                                     PartiallyFinished
4459                                 GarageAccess,Partial
1275                                                 Full
1678    FrontEntrance,Full,Heated,InteriorAccess,Outsi...
Name: BasementType, dtype: object

In [104]:
merge_df_stage_2 = merge_df_stage_2.drop(merge_df_stage_2.columns[[8,9,11,12,16,17,20,23,27,31,32,33,39,42,44,45,46,47,49,50,51,52,54,55,56,57,59,60,61,62]],axis=1)
merge_df_stage_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         5576 non-null   object
 1   Orig_List_Price   5576 non-null   float64
 2   Zip_Code          5576 non-null   object
 3   Subdivision       5576 non-null   object
 4   School_District   5576 non-null   object
 5   Address           5576 non-null   object
 6   BuildingName      1139 non-null   object
 7   Ownership         5576 non-null   object
 8   HOA_YN            5576 non-null   object
 9   Structure_Type    5576 non-null   object
 10  Acres             5354 non-null   float64
 11  LotDimensions     4847 non-null   object
 12  Age               5576 non-null   float64
 13  InteriorSqFt      5576 non-null   float64
 14  AboveGradeSqFt    5576 non-null   float64
 15  BelowGradeSqFt    5394 non-null   float64
 16  Bedrooms          5571 non-null   float64
 17  Baths             5571 non-null   float64
 18  BathsFull         5571 non-null   float64
 19  Design            5576 non-null   object
 20  Style             5576 non-null   object
 21  NumberofStories   5571 non-null   object
 22  Central_Air_YN    5576 non-null   object
 23  Cooling           5576 non-null   object
 24  PrimaryHeat       5576 non-null   object
 25  HeatDelivery      5575 non-null   object
 26  HotWater          5328 non-null   object
 27  Water             5576 non-null   object
 28  Sewer             5576 non-null   object
 29  FireplaceCount    4727 non-null   float64
 30  Basement_YN       5576 non-null   object
 31  Garage_YN         5576 non-null   object
 32  ExteriorMaterial  5576 non-null   object
dtypes: float64(10), object(23)
memory usage: 1.6+ MB

In [105]:
merge_df_stage_2 = merge_df_stage_2.drop(merge_df_stage_2.columns[[6]],axis=1)

In [106]:
merge_df_stage_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         5576 non-null   object
 1   Orig_List_Price   5576 non-null   float64
 2   Zip_Code          5576 non-null   object
 3   Subdivision       5576 non-null   object
 4   School_District   5576 non-null   object
 5   Address           5576 non-null   object
 6   Ownership         5576 non-null   object
 7   HOA_YN            5576 non-null   object
 8   Structure_Type    5576 non-null   object
 9   Acres             5354 non-null   float64
 10  LotDimensions     4847 non-null   object
 11  Age               5576 non-null   float64
 12  InteriorSqFt      5576 non-null   float64
 13  AboveGradeSqFt    5576 non-null   float64
 14  BelowGradeSqFt    5394 non-null   float64
 15  Bedrooms          5571 non-null   float64
 16  Baths             5571 non-null   float64
 17  BathsFull         5571 non-null   float64
 18  Design            5576 non-null   object
 19  Style             5576 non-null   object
 20  NumberofStories   5571 non-null   object
 21  Central_Air_YN    5576 non-null   object
 22  Cooling           5576 non-null   object
 23  PrimaryHeat       5576 non-null   object
 24  HeatDelivery      5575 non-null   object
 25  HotWater          5328 non-null   object
 26  Water             5576 non-null   object
 27  Sewer             5576 non-null   object
 28  FireplaceCount    4727 non-null   float64
 29  Basement_YN       5576 non-null   object
 30  Garage_YN         5576 non-null   object
 31  ExteriorMaterial  5576 non-null   object
dtypes: float64(10), object(22)
memory usage: 1.5+ MB

#### Dropping LotDimensions , FireplaceCount. Will add again if needed if it provides signicant contribution to ml model

In [107]:
merge_df_stage_2 = merge_df_stage_2.drop(merge_df_stage_2.columns[[10,28]],axis=1)
merge_df_stage_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5576 entries, 0 to 5575
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         5576 non-null   object
 1   Orig_List_Price   5576 non-null   float64
 2   Zip_Code          5576 non-null   object
 3   Subdivision       5576 non-null   object
 4   School_District   5576 non-null   object
 5   Address           5576 non-null   object
 6   Ownership         5576 non-null   object
 7   HOA_YN            5576 non-null   object
 8   Structure_Type    5576 non-null   object
 9   Acres             5354 non-null   float64
 10  Age               5576 non-null   float64
 11  InteriorSqFt      5576 non-null   float64
 12  AboveGradeSqFt    5576 non-null   float64
 13  BelowGradeSqFt    5394 non-null   float64
 14  Bedrooms          5571 non-null   float64
 15  Baths             5571 non-null   float64
 16  BathsFull         5571 non-null   float64
 17  Design            5576 non-null   object
 18  Style             5576 non-null   object
 19  NumberofStories   5571 non-null   object
 20  Central_Air_YN    5576 non-null   object
 21  Cooling           5576 non-null   object
 22  PrimaryHeat       5576 non-null   object
 23  HeatDelivery      5575 non-null   object
 24  HotWater          5328 non-null   object
 25  Water             5576 non-null   object
 26  Sewer             5576 non-null   object
 27  Basement_YN       5576 non-null   object
 28  Garage_YN         5576 non-null   object
 29  ExteriorMaterial  5576 non-null   object
dtypes: float64(9), object(21)
memory usage: 1.4+ MB

In [109]:
merge_df_stage_2 = merge_df_stage_2.dropna()
merge_df_stage_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 5575
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         4944 non-null   object
 1   Orig_List_Price   4944 non-null   float64
 2   Zip_Code          4944 non-null   object
 3   Subdivision       4944 non-null   object
 4   School_District   4944 non-null   object
 5   Address           4944 non-null   object
 6   Ownership         4944 non-null   object
 7   HOA_YN            4944 non-null   object
 8   Structure_Type    4944 non-null   object
 9   Acres             4944 non-null   float64
 10  Age               4944 non-null   float64
 11  InteriorSqFt      4944 non-null   float64
 12  AboveGradeSqFt    4944 non-null   float64
 13  BelowGradeSqFt    4944 non-null   float64
 14  Bedrooms          4944 non-null   float64
 15  Baths             4944 non-null   float64
 16  BathsFull         4944 non-null   float64
 17  Design            4944 non-null   object
 18  Style             4944 non-null   object
 19  NumberofStories   4944 non-null   object
 20  Central_Air_YN    4944 non-null   object
 21  Cooling           4944 non-null   object
 22  PrimaryHeat       4944 non-null   object
 23  HeatDelivery      4944 non-null   object
 24  HotWater          4944 non-null   object
 25  Water             4944 non-null   object
 26  Sewer             4944 non-null   object
 27  Basement_YN       4944 non-null   object
 28  Garage_YN         4944 non-null   object
 29  ExteriorMaterial  4944 non-null   object
dtypes: float64(9), object(21)
memory usage: 1.2+ MB

## Beginning third Merge

### merge_df_stage_3 = merge_df_stage_2 + public_rec_df

In [110]:
merge_df_stage_3 = pd.merge(merge_df_stage_2,public_rec_df,on='MLSNumber')

In [112]:
merge_df_stage_3.sample(5)

,MLSNumber,Orig_List_Price,Zip_Code_x,Subdivision,School_District,Address,Ownership,HOA_YN,Structure_Type,Acres,...,BldgSqFtTotal,Stories,Bedrooms_y,Exterior,BsmtDesc,FireplaceTotal,GrgType,HeatDelivery_y,YearBuilt,YearRemod
1246,DENC509424,199900.0,19805,VILONE VILLAGE,Red Clay Consolidated,207 Olga Road,FeeSimple,No,Detached,0.11,...,1250.0,1.0,3.0,"Asbestos, Brick",NaN,0.0,NaN,Hot/Warm Air,1950.0,0.0
1779,DENC506336,233625.0,19804,ELMHURST,Red Clay Consolidated,314 Mansion Rd,FeeSimple,No,Detached,0.14,...,1400.0,1.0,3.0,"Aluminum, Vinyl",NaN,0.0,NaN,Hot/Warm Air,1938.0,0.0
2825,DENC2021514,269000.0,19802,WILM #02,Red Clay Consolidated,2201 N Jefferson St,FeeSimple,No,Detached,0.06,...,1950.0,2.0,4.0,Brick,NaN,0.0,Att/BuiltIn/Bsmt,Hot Water/Steam,1910.0,0.0
3442,DENC2000493,215000.0,19720,SWANWYCK,Colonial,147 Cross Ave,FeeSimple,No,Detached,0.17,...,1225.0,1.0,5.0,"Vinyl, Aluminum",NaN,0.0,NaN,Hot/Warm Air,1957.0,0.0
290,DENC498380,349000.0,19808,LITTLE FALLS VILL,Red Clay Consolidated,202 Niagara Falls Dr,FeeSimple,Yes,Interior Row/Townhouse,0.07,...,2425.0,2.0,2.0,"Brick, Aluminum, Vinyl",Finished,1.0,Att/BuiltIn/Bsmt,Hot/Warm Air,2002.0,0.0

In [111]:
merge_df_stage_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 4943
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MLSNumber                4944 non-null   object
 1   Orig_List_Price          4944 non-null   float64
 2   Zip_Code_x               4944 non-null   object
 3   Subdivision              4944 non-null   object
 4   School_District          4944 non-null   object
 5   Address                  4944 non-null   object
 6   Ownership                4944 non-null   object
 7   HOA_YN                   4944 non-null   object
 8   Structure_Type           4944 non-null   object
 9   Acres                    4944 non-null   float64
 10  Age                      4944 non-null   float64
 11  InteriorSqFt             4944 non-null   float64
 12  AboveGradeSqFt           4944 non-null   float64
 13  BelowGradeSqFt           4944 non-null   float64
 14  Bedrooms_x               4944 non-null   float64
 15  Baths                    4944 non-null   float64
 16  BathsFull                4944 non-null   float64
 17  Design                   4944 non-null   object
 18  Style                    4944 non-null   object
 19  NumberofStories          4944 non-null   object
 20  Central_Air_YN           4944 non-null   object
 21  Cooling                  4944 non-null   object
 22  PrimaryHeat              4944 non-null   object
 23  HeatDelivery_x           4944 non-null   object
 24  HotWater                 4944 non-null   object
 25  Water                    4944 non-null   object
 26  Sewer                    4944 non-null   object
 27  Basement_YN              4944 non-null   object
 28  Garage_YN                4944 non-null   object
 29  ExteriorMaterial         4944 non-null   object
 30  Tax_ID                   4944 non-null   object
 31  Address-truncated        4944 non-null   object
 32  PropertyCityState        4944 non-null   object
 33  Zip_Code_y               4944 non-null   int64
 34  Zip4                     4926 non-null   float64
 35  CarrierRoute             4941 non-null   object
 36  PropDoNotMail            4941 non-null   object
 37  OwnerNames               4655 non-null   object
 38  OwnerLastName            4619 non-null   object
 39  OwnerFirstName           4369 non-null   object
 40  Owner2LastName           2093 non-null   object
 41  Owner2FirstName          2093 non-null   object
 42  Owner3LastName           80 non-null     object
 43  Owner3FirstName          80 non-null     object
 44  OwnerAddress             4667 non-null   object
 45  OwnerCityState           4660 non-null   object
 46  OwnerZipCode             4942 non-null   float64
 47  OwnerZip4                4944 non-null   int64
 48  OwnerCarrierRoute        4411 non-null   object
 49  OwnerOccupied            4944 non-null   bool
 50  Municipality             4944 non-null   object
 51  SubdivisionNeighborhood  4683 non-null   object
 52  TaxIDAlt                 3857 non-null   object
 53  TaxMap                   4944 non-null   float64
 54  Block                    4526 non-null   object
 55  Lot                      4944 non-null   object
 56  SchoolDistrict           4944 non-null   object
 57  TaxYear                  4944 non-null   int64
 58  AnnualTax                4944 non-null   int64
 59  CountyTax                4944 non-null   int64
 60  MunicipalTax             4944 non-null   int64
 61  SchoolTax                4944 non-null   int64
 62  TotalLandAsmt            4944 non-null   int64
 63  TotalBldgAsmt            4944 non-null   int64
 64  TaxableTotalAsmt         4944 non-null   int64
 65  DeedRecordDate           4923 non-null   object
 66  SettleDate               4471 non-null   object
 67  SaleAmt                  4944 non-null   int64
 68  SaleType                 2278 non-null   object
 69  PropertyClass            4944 non-null   object
 70  CondoYN                  4944 non-null   object
 71  LotFrontage              4944 non-null   float64
 72  LotDepth                 4944 non-null   float64
 73  LotSqFt                  4944 non-null   int64
 74  LotAcres                 4944 non-null   float64
 75  LotShape                 2016 non-null   object
 76  Zoning                   4944 non-null   object
 77  BldgSqFtTotal            2126 non-null   float64
 78  Stories                  4944 non-null   float64
 79  Bedrooms_y               4918 non-null   float64
 80  Exterior                 4889 non-null   object
 81  BsmtDesc                 855 non-null    object
 82  FireplaceTotal           4918 non-null   float64
 83  GrgType                  3286 non-null   object
 84  HeatDelivery_y           4891 non-null   object
 85  YearBuilt                4918 non-null   float64
 86  YearRemod                4940 non-null   float64
dtypes: bool(1), float64(21), int64(12), object(53)
memory usage: 3.3+ MB

In [125]:
merge_df_stage_3["YearRemod"].sample(5)

1548    0.0
1165    0.0
2784    0.0
3802    0.0
2487    0.0
Name: YearRemod, dtype: float64

In [116]:
merge_df_stage_3 = merge_df_stage_3.drop(merge_df_stage_3.columns[30:54],axis=1)
merge_df_stage_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 4943
Data columns (total 63 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         4944 non-null   object
 1   Orig_List_Price   4944 non-null   float64
 2   Zip_Code_x        4944 non-null   object
 3   Subdivision       4944 non-null   object
 4   School_District   4944 non-null   object
 5   Address           4944 non-null   object
 6   Ownership         4944 non-null   object
 7   HOA_YN            4944 non-null   object
 8   Structure_Type    4944 non-null   object
 9   Acres             4944 non-null   float64
 10  Age               4944 non-null   float64
 11  InteriorSqFt      4944 non-null   float64
 12  AboveGradeSqFt    4944 non-null   float64
 13  BelowGradeSqFt    4944 non-null   float64
 14  Bedrooms_x        4944 non-null   float64
 15  Baths             4944 non-null   float64
 16  BathsFull         4944 non-null   float64
 17  Design            4944 non-null   object
 18  Style             4944 non-null   object
 19  NumberofStories   4944 non-null   object
 20  Central_Air_YN    4944 non-null   object
 21  Cooling           4944 non-null   object
 22  PrimaryHeat       4944 non-null   object
 23  HeatDelivery_x    4944 non-null   object
 24  HotWater          4944 non-null   object
 25  Water             4944 non-null   object
 26  Sewer             4944 non-null   object
 27  Basement_YN       4944 non-null   object
 28  Garage_YN         4944 non-null   object
 29  ExteriorMaterial  4944 non-null   object
 30  Block             4526 non-null   object
 31  Lot               4944 non-null   object
 32  SchoolDistrict    4944 non-null   object
 33  TaxYear           4944 non-null   int64
 34  AnnualTax         4944 non-null   int64
 35  CountyTax         4944 non-null   int64
 36  MunicipalTax      4944 non-null   int64
 37  SchoolTax         4944 non-null   int64
 38  TotalLandAsmt     4944 non-null   int64
 39  TotalBldgAsmt     4944 non-null   int64
 40  TaxableTotalAsmt  4944 non-null   int64
 41  DeedRecordDate    4923 non-null   object
 42  SettleDate        4471 non-null   object
 43  SaleAmt           4944 non-null   int64
 44  SaleType          2278 non-null   object
 45  PropertyClass     4944 non-null   object
 46  CondoYN           4944 non-null   object
 47  LotFrontage       4944 non-null   float64
 48  LotDepth          4944 non-null   float64
 49  LotSqFt           4944 non-null   int64
 50  LotAcres          4944 non-null   float64
 51  LotShape          2016 non-null   object
 52  Zoning            4944 non-null   object
 53  BldgSqFtTotal     2126 non-null   float64
 54  Stories           4944 non-null   float64
 55  Bedrooms_y        4918 non-null   float64
 56  Exterior          4889 non-null   object
 57  BsmtDesc          855 non-null    object
 58  FireplaceTotal    4918 non-null   float64
 59  GrgType           3286 non-null   object
 60  HeatDelivery_y    4891 non-null   object
 61  YearBuilt         4918 non-null   float64
 62  YearRemod         4940 non-null   float64
dtypes: float64(18), int64(10), object(35)
memory usage: 2.4+ MB

In [122]:
merge_df_stage_3 = merge_df_stage_3.drop(merge_df_stage_3.columns[30:47],axis=1)
merge_df_stage_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 4943
Data columns (total 46 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         4944 non-null   object
 1   Orig_List_Price   4944 non-null   float64
 2   Zip_Code_x        4944 non-null   object
 3   Subdivision       4944 non-null   object
 4   School_District   4944 non-null   object
 5   Address           4944 non-null   object
 6   Ownership         4944 non-null   object
 7   HOA_YN            4944 non-null   object
 8   Structure_Type    4944 non-null   object
 9   Acres             4944 non-null   float64
 10  Age               4944 non-null   float64
 11  InteriorSqFt      4944 non-null   float64
 12  AboveGradeSqFt    4944 non-null   float64
 13  BelowGradeSqFt    4944 non-null   float64
 14  Bedrooms_x        4944 non-null   float64
 15  Baths             4944 non-null   float64
 16  BathsFull         4944 non-null   float64
 17  Design            4944 non-null   object
 18  Style             4944 non-null   object
 19  NumberofStories   4944 non-null   object
 20  Central_Air_YN    4944 non-null   object
 21  Cooling           4944 non-null   object
 22  PrimaryHeat       4944 non-null   object
 23  HeatDelivery_x    4944 non-null   object
 24  HotWater          4944 non-null   object
 25  Water             4944 non-null   object
 26  Sewer             4944 non-null   object
 27  Basement_YN       4944 non-null   object
 28  Garage_YN         4944 non-null   object
 29  ExteriorMaterial  4944 non-null   object
 30  LotFrontage       4944 non-null   float64
 31  LotDepth          4944 non-null   float64
 32  LotSqFt           4944 non-null   int64
 33  LotAcres          4944 non-null   float64
 34  LotShape          2016 non-null   object
 35  Zoning            4944 non-null   object
 36  BldgSqFtTotal     2126 non-null   float64
 37  Stories           4944 non-null   float64
 38  Bedrooms_y        4918 non-null   float64
 39  Exterior          4889 non-null   object
 40  BsmtDesc          855 non-null    object
 41  FireplaceTotal    4918 non-null   float64
 42  GrgType           3286 non-null   object
 43  HeatDelivery_y    4891 non-null   object
 44  YearBuilt         4918 non-null   float64
 45  YearRemod         4940 non-null   float64
dtypes: float64(18), int64(1), object(27)
memory usage: 1.8+ MB

In [123]:
merge_df_stage_3 = merge_df_stage_3.drop(merge_df_stage_3.columns[34:44],axis=1)
merge_df_stage_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 4943
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         4944 non-null   object
 1   Orig_List_Price   4944 non-null   float64
 2   Zip_Code_x        4944 non-null   object
 3   Subdivision       4944 non-null   object
 4   School_District   4944 non-null   object
 5   Address           4944 non-null   object
 6   Ownership         4944 non-null   object
 7   HOA_YN            4944 non-null   object
 8   Structure_Type    4944 non-null   object
 9   Acres             4944 non-null   float64
 10  Age               4944 non-null   float64
 11  InteriorSqFt      4944 non-null   float64
 12  AboveGradeSqFt    4944 non-null   float64
 13  BelowGradeSqFt    4944 non-null   float64
 14  Bedrooms_x        4944 non-null   float64
 15  Baths             4944 non-null   float64
 16  BathsFull         4944 non-null   float64
 17  Design            4944 non-null   object
 18  Style             4944 non-null   object
 19  NumberofStories   4944 non-null   object
 20  Central_Air_YN    4944 non-null   object
 21  Cooling           4944 non-null   object
 22  PrimaryHeat       4944 non-null   object
 23  HeatDelivery_x    4944 non-null   object
 24  HotWater          4944 non-null   object
 25  Water             4944 non-null   object
 26  Sewer             4944 non-null   object
 27  Basement_YN       4944 non-null   object
 28  Garage_YN         4944 non-null   object
 29  ExteriorMaterial  4944 non-null   object
 30  LotFrontage       4944 non-null   float64
 31  LotDepth          4944 non-null   float64
 32  LotSqFt           4944 non-null   int64
 33  LotAcres          4944 non-null   float64
 34  YearBuilt         4918 non-null   float64
 35  YearRemod         4940 non-null   float64
dtypes: float64(14), int64(1), object(21)
memory usage: 1.4+ MB

In [126]:
merge_df_stage_3 = merge_df_stage_3.drop(merge_df_stage_3.columns[35],axis=1)
merge_df_stage_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 4943
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         4944 non-null   object
 1   Orig_List_Price   4944 non-null   float64
 2   Zip_Code_x        4944 non-null   object
 3   Subdivision       4944 non-null   object
 4   School_District   4944 non-null   object
 5   Address           4944 non-null   object
 6   Ownership         4944 non-null   object
 7   HOA_YN            4944 non-null   object
 8   Structure_Type    4944 non-null   object
 9   Acres             4944 non-null   float64
 10  Age               4944 non-null   float64
 11  InteriorSqFt      4944 non-null   float64
 12  AboveGradeSqFt    4944 non-null   float64
 13  BelowGradeSqFt    4944 non-null   float64
 14  Bedrooms_x        4944 non-null   float64
 15  Baths             4944 non-null   float64
 16  BathsFull         4944 non-null   float64
 17  Design            4944 non-null   object
 18  Style             4944 non-null   object
 19  NumberofStories   4944 non-null   object
 20  Central_Air_YN    4944 non-null   object
 21  Cooling           4944 non-null   object
 22  PrimaryHeat       4944 non-null   object
 23  HeatDelivery_x    4944 non-null   object
 24  HotWater          4944 non-null   object
 25  Water             4944 non-null   object
 26  Sewer             4944 non-null   object
 27  Basement_YN       4944 non-null   object
 28  Garage_YN         4944 non-null   object
 29  ExteriorMaterial  4944 non-null   object
 30  LotFrontage       4944 non-null   float64
 31  LotDepth          4944 non-null   float64
 32  LotSqFt           4944 non-null   int64
 33  LotAcres          4944 non-null   float64
 34  YearBuilt         4918 non-null   float64
dtypes: float64(13), int64(1), object(21)
memory usage: 1.4+ MB

In [127]:
merge_df_stage_3 = merge_df_stage_3.dropna()
merge_df_stage_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4918 entries, 0 to 4943
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLSNumber         4918 non-null   object
 1   Orig_List_Price   4918 non-null   float64
 2   Zip_Code_x        4918 non-null   object
 3   Subdivision       4918 non-null   object
 4   School_District   4918 non-null   object
 5   Address           4918 non-null   object
 6   Ownership         4918 non-null   object
 7   HOA_YN            4918 non-null   object
 8   Structure_Type    4918 non-null   object
 9   Acres             4918 non-null   float64
 10  Age               4918 non-null   float64
 11  InteriorSqFt      4918 non-null   float64
 12  AboveGradeSqFt    4918 non-null   float64
 13  BelowGradeSqFt    4918 non-null   float64
 14  Bedrooms_x        4918 non-null   float64
 15  Baths             4918 non-null   float64
 16  BathsFull         4918 non-null   float64
 17  Design            4918 non-null   object
 18  Style             4918 non-null   object
 19  NumberofStories   4918 non-null   object
 20  Central_Air_YN    4918 non-null   object
 21  Cooling           4918 non-null   object
 22  PrimaryHeat       4918 non-null   object
 23  HeatDelivery_x    4918 non-null   object
 24  HotWater          4918 non-null   object
 25  Water             4918 non-null   object
 26  Sewer             4918 non-null   object
 27  Basement_YN       4918 non-null   object
 28  Garage_YN         4918 non-null   object
 29  ExteriorMaterial  4918 non-null   object
 30  LotFrontage       4918 non-null   float64
 31  LotDepth          4918 non-null   float64
 32  LotSqFt           4918 non-null   int64
 33  LotAcres          4918 non-null   float64
 34  YearBuilt         4918 non-null   float64
dtypes: float64(13), int64(1), object(21)
memory usage: 1.4+ MB