In [12]:
import numpy as np
import pandas as pd

In [13]:
broker_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Broker_Data_clean.csv")
id_table_df = pd.read_csv("../Resources/Clean_Data_12_8_22/ID_table_clean.csv")
lat_lng_df = pd.read_csv("../Resources/Clean_Data_12_8_22/lat_lng_clean.csv")
mortgage_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Mortgage_Data_clean.csv")
property_char_df  = pd.read_csv("../Resources/Clean_Data_12_8_22/Prop_Charac_clean.csv")
public_rec_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Pub_Rec_clean.csv")
pub_remarks_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Pub_Remarks_clean.csv")
sales_data_df = pd.read_csv("../Resources/Clean_Data_12_8_22/Sales_Data_clean.csv")

In [14]:
broker_df.head(5)

,MLSNumber,Address,ListOfficeName,ListAgentName
0,DENC518086,2615 Pecksniff Rd,Patterson-Schwartz-Middletown,Dianne Platt
1,DENC518982,4938 S Tupelo Turn,"Long & Foster Real Estate, Inc.",Andrew White
2,DENC512992,15 Kristina Ct,"Long & Foster Real Estate, Inc.",Diane W Bacigalupi
3,DENC512104,3251 Champions Dr,"Long & Foster Real Estate, Inc.",Barbara Carpenter
4,DENC503480,3706 Lafayette St,Meyer & Meyer Realty,Peggy Cushing

In [15]:
id_table_df.head(5)

,MLSNumber,Address,Category,City,State,Zip_Code,County,MLSArea,Subdivision,School_District,Schools-Elementary,Schools-Middle,Schools-HighSchool
0,DENC518086,2615 Pecksniff Rd,RES,Wilmingon,DE,19808,NEWCASTLEDE,30903.0,SHERWOOD PARK II,Red Clay Consolidated,NaN,NaN,NaN
1,DENC518982,4938 S Tupelo Turn,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,PEPPER RIDGE,Red Clay Consolidated,NaN,NaN,NaN
2,DENC512992,15 Kristina Ct,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,WOODMILL,Red Clay Consolidated,NaN,NaN,NaN
3,DENC512104,3251 Champions Dr,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,FAIRWAY FALLS,Red Clay Consolidated,NaN,NaN,NaN
4,DENC503480,3706 Lafayette St,RES,Wilmington,DE,19808,NEWCASTLEDE,30903.0,WASHINGTON HEIGHTS,Red Clay Consolidated,NaN,NaN,NaN

In [16]:
lat_lng_df.head(5)

     MLSNumber                     address_new        lat        lng
0   DENC518086  2615 Pecksniff  Wilmington, DE  39.734608 -75.661402
1  DENC2018974  2615 Pecksniff  Wilmington, DE  39.734608 -75.661402
2   DENC518982   4938 S Tupelo  Wilmington, DE  39.744655 -75.548391
3   DENC512992     15 Kristina  Wilmington, DE  39.744655 -75.548391
4   DENC512104  3251 Champions  Wilmington, DE  39.729664 -75.698656

In [17]:
mortgage_df.head(5)

,Tax_ID,Address,Lender,Mort_Amt,Mort_Type,Mort_Int_Rate,Mort_Term,Mort_Record_Date,Mort_Due_Date,Mort_Date
0,06-004.00-004.C.010,108 N Landis Way Unit #108,AMERICAN NBRHD MTG ACCPTNC AMERICAN NBRHD MTG ...,388000.0,"Conv,HomeEquityLoan",0.0,15,3/16/22,4/1/37,3/11/22
1,06-004.00-004.C.014,140 N Landis Way N Unit #140,WSFS MTG WSFS MTG,420000.0,"Conv,HomeEquityLoan",0.0,30,8/24/21,9/1/51,8/17/21
2,06-004.00-004.C.021,216 S Landis Way S Unit #216,WSFS MTG,220000.0,Conv,0.0,30,11/15/16,12/1/46,11/10/16
3,06-004.00-004.C.033,339 Cassell Ct Unit #339,RBS CITIZENS NA,165000.0,"Conv,HomeEquityLoan",0.0,25,10/17/14,10/10/39,10/6/14
4,06-004.00-004.C.034,346 Cassell Ct Unit #346,TRIDENT MTG CO LP TRIDENT MTG CO LP,297500.0,Conv,0.0,15,1/7/21,1/1/36,12/8/20

In [18]:
property_char_df.head(5)

,MLSNumber,Address,BuildingName,Ownership,Senior_Community_YN,Condo/Coop_Assoc_YN,HOA_YN,AssociationFee,AssociationFeeFrequency,Structure_Type,...,Garage_YN,GarageSpaces,GarageFeatures,Parking,ExteriorFeatures,ExteriorMaterial,Main_Roof,Foundation,PorchDeck,SwimmingPoolType
0,DENC518086,2615 Pecksniff Rd,NONE AVAILABLE,FeeSimple,No,No,Yes,$15,Annually,Detached,...,Yes,1.0,NaN,NaN,"ExtensiveHardscape,Sidewalks,StoneRetainingWal...","BrickFront,VinylSiding",ArchitecturalShingle,NaN,"Patios,Porches",NaN
1,DENC518982,4938 S Tupelo Turn,NaN,FeeSimple,No,No,No,NaN,NaN,Interior Row/Townhouse,...,No,NaN,NaN,NaN,NaN,"AluminumSiding,Brick,VinylSiding",Asphalt,NaN,NaN,NaN
2,DENC512992,15 Kristina Ct,NaN,FeeSimple,No,No,No,NaN,NaN,Interior Row/Townhouse,...,No,NaN,NaN,NaN,NaN,VinylSiding,NaN,NaN,NaN,NaN
3,DENC512104,3251 Champions Dr,NaN,FeeSimple,No,No,Yes,$50,Annually,Interior Row/Townhouse,...,Yes,1.0,NaN,NaN,NaN,Other,Shingle,NaN,Patios,NaN
4,DENC503480,3706 Lafayette St,NaN,FeeSimple,No,No,No,NaN,NaN,Detached,...,No,NaN,NaN,NaN,NaN,Asbestos,NaN,NaN,NaN,NaN

In [19]:
public_rec_df.head(5)

,MLSNumber,Tax_ID,Address-truncated,PropertyCityState,Zip_Code,Zip4,CarrierRoute,PropDoNotMail,OwnerNames,OwnerLastName,...,BldgSqFtTotal,Stories,Bedrooms,Exterior,BsmtDesc,FireplaceTotal,GrgType,HeatDelivery,YearBuilt,YearRemod
0,DENC518086,08-038.30-119,2615 Pecksniff,"Wilmington, DE",19808,3026.0,C010,N,James Robinson,Robinson,...,1875.0,1.0,3.0,"Brick, Aluminum, Vinyl",Finished,0.0,Att/BuiltIn/Bsmt,Hot Water/Steam,1958.0,0.0
1,DENC518982,08-036.10-081,4938 S Tupelo,"Wilmington, DE",19808,1026.0,C009,N,Xiaopeng Deng,Deng,...,1575.0,2.0,3.0,"Brick, Aluminum, Vinyl",Finished,0.0,NaN,Hot/Warm Air,1976.0,0.0
2,DENC512992,08-044.30-363,15 Kristina,"Wilmington, DE",19808,4063.0,C084,N,Robert F Walls,Walls,...,NaN,2.0,2.0,"Aluminum, Vinyl",NaN,0.0,NaN,Heat Pump,1985.0,0.0
3,DENC512104,08-036.40-376,3251 Champions,"Wilmington, DE",19808,2601.0,C039,N,Michael J Downs,Downs,...,NaN,2.0,2.0,Other,NaN,1.0,Att/BuiltIn/Bsmt,Heat Pump,1985.0,0.0
4,DENC503480,07-041.10-071,3706 Lafayette,"Wilmington, DE",19808,6014.0,C001,N,Maria Corona,Corona,...,NaN,1.0,3.0,Asbestos,NaN,0.0,NaN,Hot/Warm Air,1957.0,0.0

In [20]:
pub_remarks_df.head(5)

,Unnamed: 0,MLSNumber,Address,PublicRemarks
0,0,DENC518086,2615 Pecksniff Rd,Visit this home virtually: http://www.vht.com/...
1,1,DENC518982,4938 S Tupelo Turn,"3 bedroom, 1.5 bath townhome located in the he..."
2,2,DENC512992,15 Kristina Ct,"Location, Location, Location! This Woodmill to..."
3,3,DENC512104,3251 Champions Dr,"Move right into this 2 bedroom, 2.1 bath townh..."
4,4,DENC503480,3706 Lafayette St,This nicely maintained home is being sold to s...

In [22]:
sales_data_df.head(5)

,MLSNumber,Address,Status,Sold_Price,Sold_Price_less_Concession,Orig_List_Price,Current_List_Price,Days_on_Market,Previous_Days_on_Market,ListDate,StatusDate,Agreement_of_Sale_Date,SettledDate,Concessions_YN,Concessions_Remarks,SellerConcessionsAmount,FinalFinancing
0,DENC518086,2615 Pecksniff Rd,Closed,335000.0,335000.0,330000.0,330000.0,5.0,5.0,2020-12-11,2021-02-11,2020-12-16,2021-02-11,No,NaN,0.0,FHA
1,DENC518982,4938 S Tupelo Turn,Closed,200000.0,200000.0,215500.0,210000.0,47.0,67.0,2021-01-07,2021-04-08,2021-02-21,2021-04-08,No,NaN,0.0,Conventional
2,DENC512992,15 Kristina Ct,Closed,200000.0,200000.0,200000.0,200000.0,15.0,15.0,2020-12-28,2021-02-26,2021-01-09,2021-02-26,No,NaN,0.0,Conventional
3,DENC512104,3251 Champions Dr,Closed,200000.0,200000.0,219900.0,214900.0,11.0,11.0,2020-10-27,2020-12-14,2020-11-05,2020-12-11,No,NaN,0.0,Conventional
4,DENC503480,3706 Lafayette St,Closed,200000.0,200000.0,190000.0,190000.0,3.0,3.0,2020-06-20,2020-08-02,2020-06-21,2020-07-31,No,NaN,0.0,Conventional